@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

[type='checkbox'] {
  appearance: none;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.9em 0.9em;
}

.border-special {
  border: solid;
  border-image-slice: 1;
  border-width: 16px;
  border-image-source: linear-gradient(to right, transparent 0%, #000 2%);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
