@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  /* width: 5px; */
  /* height: 5px; */
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background: #999;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: #666;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  appearance: none;
}

input[type='checkbox']:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 1em 1em;
}

@layer utilities {
  .border-special {
    border: solid;
    border-image-slice: 1;
    border-width: 16px;
    border-image-source: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.2) 2%
    );
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }

  .dark-border-special {
    border: solid;
    border-image-slice: 1;
    border-width: 16px;
    border-image-source: linear-gradient(to right, transparent 0%, #000 2%);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
  }
}

.resize-handle {
  display: inline-block;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
